body {
  text-align: center;
}

main {
  height: 100vh;
}

main p {
  font-size: 1.2rem;
}

#background-image {
  background-image: url('../images/add-station-a.jpg');
  position: fixed;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  filter: brightness(0.4);
  z-index: -1;
}

#wrapper {
  padding: 5rem 4rem 1.5rem;
  margin: auto;
  background-color: var(--glass-500);
  backdrop-filter: blur(6px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

#input-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.6rem;
}

label {
  color: var(--bright-col-500);
  font: 200 1rem 'Poppins', sans-serif;
  justify-self: end;
}

.btn {
  margin: 0.5rem;
}

input {
  font: 200 0.8rem 'Poppins', sans-serif;
}

input:hover {
  background-color: var(--bright-col-500);
}

textarea {
  font: 200 0.8rem 'Poppins', sans-serif;
}

textarea:hover {
  background-color: var(--bright-col-500);
}

div.contact {
  line-height: 0.5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.2rem;
}

.error-message {
  color: var(--error-500);
  font-size: 0.9rem;
}


.contact.valid input {
  border-color: #458412
}

.contact.invalid input {
  border-color: #e33333
}